# üêº Introduction to Pandas

Welcome to your first notebook in the Pandas Mastery Hub!

In this notebook, you'll learn the basics of pandas: loading data, exploring DataFrames, and performing simple operations.

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['NY', 'LA', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

### üîç Let's explore our DataFrame
- `.head()` to see the top rows
- `.info()` for column summary
- `.describe()` for quick stats

In [ ]:
df.head()
df.info()
df.describe()